extends _layout/default

block container
  .container(data-36000="background:rgb(53,66,80);" data-37000="background:rgb(212,158,153);")
    //- Bedroom
    include _modules/bedroom

    //- The bathroom
    include _modules/bathroom

    //- wardrobe
    include _modules/wardrobe

    //- Kitchen
    include _modules/kitchen

    //- The Character
    include _modules/character
