img {
  position: absolute;
  &.stars {
    max-width: 619px;
    right: 77px;
    right: 5.347vw;
  }

  &.moon {
    right: 0;
  }

  &.sun {
    width: 163px;
    height: 163px;
    right: 0;
    top: 100%;
  }

  //bed room
  &.desk {
    width: 389px;
    z-index: 2;
  }

  &.side-table {
    width: 126px;
    right: 0;
  }

  &.rug {
    width: 375px;
    max-height: 160px;
    height: 70%;
    top: 20%;
    z-index: 1;
  }

  &.tree {
    width: 91px;
    max-height: 208px;
    height: 70%;
    right: 0;
    top: -20%;
  }

  // character
  &.bed-frame,
  &.bed-sheet {
    width: 369px;
    max-height: 525px;
    min-width: 320px;
    min-height: 455px;
    top: 290px;
    left: 50%;
  }

  &.juan {
    top: 360px;
    left: calc(50% + 40px);
    width: 126px;
    max-height: 315px;
    height: 80%;
  }

  &.juan-clothes {
    top: 261px;
    left: 600px;
  }

  &.juan-nomnom {
    left: 105px;
    top: 270px;
  }

  &.juan-shower {
    top: 260px;
    left: 600px;
  }

  &.bath {
    left: 36%;
    top: 140px;
  }

  &.table {
    top: 500px;
  }

  //bathroom
  &.pathroom-light {
    left: 47%;
    z-index: 200;
  }

  &.mirror,
  &.mirror-text {
    top: 10%;
    width: 350px;
    height: 223px;
  }

  &.self {
    left: 50%;
    top: 50%;
  }

  &.window{
    top: 15%;
    left: 77%;
  }

  &.clock-face,
  &.clock-hand {
    top: 30%;
    right: 0;
  }
  &.bathroom-mat{
    top: 400px;
    left: 36%;
    width: 411px;
    height: 152px;
  }
  &.bathroom-chair{
    right: 0;
    top: 14%;
    width: 104px;
    height: 259px;
  }
  &.bathroom-sink{
    left: 0;
    top: 10%;
    width: 270px;
    height: 344px;
  }
  &.bathroom-light{
    left: 47%;
    z-index: 3;
  }

  //wardrobe
  &.wardrobe, &.wardrobe-rail {
    top: 20%;
  }
  &.picture-frame{
    right: 15%;
    top: 21%;
  }
  &.lamp{
    width: 155px;
    height: 297px;
    right: 0;
    margin-top: 20%;
  }
  &.wardrobe-rug{
    width: 370px;
    min-height: 100px;
    height: 100%;
  }

  //kitchen
  &.kitchen-counters{
    width: 400px;
    height: 630px;
    right: 0;
    top: 20%;
  }
  &.knife-rack{
    left: 27%;
    top: 30%;
  }
  &.knife-shelf{
    right: 30%;
    top: 20%;
  }

}